# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
**/GeneratedPluginRegistrant.*

# Secrets - JANGAN commit API key
android/app/src/main/res/values/secrets.xml

# Misc
*.log
.DS_Store

# Vercel
.vercel

# local downloads
*.zip
